﻿<%@ Page Title="About" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="About.aspx.cs" Inherits="TombsEntry11.About" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">
    <h2><%: Title %>.</h2>
    <h3>Presentations & Graphic Design department of Houlihan Lokey</h3>
    <p>Chris Brown is head of the dept. and Andre Kheshadoorian is doing manageral tasks to manage total 28 people working in the global offices  </p>
</asp:Content>
